@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Norse';
  src: url('../fonts/norsebold-webfont.woff2') format('woff2'),
  url('../fonts/norsebold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: oklch(0.9846 0.0017 247.84);

  display: flex;
}

.logo-column {
  background: white url("../img/background.jpg") center;
  background-size: cover;

  display: flex;
  width: 40vw;
  height: 100vh;
}

.logo-container {
  background: oklch(0 0 0 / 70%);

  font-family: "Norse", Helvetica, Arial, sans-serif;
  font-size: 64px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-top: 25vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
}

main h1 {
  font-size: 24px;
}

.top {
  padding: 0 20vh 50px 5vh;
}

.sign-up-form {
  display: flex;
  background: oklch(1 0 0);
  box-shadow: 5px 5px 5px 0 oklch(0 0 0 / 20%);
  padding-left: 5vh;
}

.sign-up-form h1 {
  font-size: 16px;
}

.bottom {
  display: flex;
  flex-direction: column;
  padding: 5vh 0 0 5vh;
}

.create-acc-btn {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 oklch(0 0 0 / 10%);
  padding: 20px 30px;
  max-width: 250px;

  background: oklch(0.5081 0.061 131.35);

  font-size: 16px;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

.create-acc-btn:hover {
  background: oklch(0.595 0.061 131.35);
}

.create-acc-btn:active {
  background: oklch(0.411 0.061 131.35);
}

.login-text {
  margin: 32px 0;
}

.login-text a {
  font-weight: bold;
  color: oklch(0.5081 0.061 131.35);
  text-decoration: none;
}